<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>OMDB Ver.Beta</title>
</head>
<body>
	<header>
		<h1>OMDB Ver.Beta</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/searchHistory">Search History</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<%= yield %>
	</section>
</body>
</html>